body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding :  16px ;
        margin: 50px;
        list-style: none;  

    }

    a{
        color: white;
        text-decoration: none;

    }

    nav :hover {
        color: green;
    }
     
   footer img {
  border-radius: 50%;
  height: 100px;
  width: 100px;

   }




  footer {
    padding: 200px;
    justify-content: center;
    display: flex;

  }

  footer a {
  text-align: center;
   margin: 40px;

  }