body{
color: white;
background-color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: large;
text-decoration: none;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding :  16px ;
    margin: 50px;
}
a{
    color : white;
    text-decoration: none;
}

 header img{
   
    border-radius: 50%;
    border : solid green;
}

footer img{
border-radius: 50%;
width: 100px;
height: 100px;
}

.center {
padding : 80px ;
text-align: center;
}
h1{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
justify-content: center;
display: flex;

}

footer a {
    margin: 40px;
    text-align: center;
}

footer p{
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav :hover {
color: green;
}
